01. Lead Sourcing.blueprint.json
{
    "name": "01. Lead Sourcing",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2516153,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -213,
                    "y": 3
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Existing Meta Ads"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "apify:runActor",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5185399
            },
            "mapper": {
                "actorId": "nwua9Gu5YrADL7ZDj",
                "runSync": true,
                "inputBody": "{\r\n    \"includeWebResults\": false,\r\n    \"language\": \"en\",\n    \"leadsEnrichmentDepartments\": [\r\n        \"c_suite\"\r\n    ],\n    \"locationQuery\": \"{{1.Location}}\",\r\n    \"maxReviews\": 0,\n    \"maxCrawledPlacesPerSearch\": 2,\r\n    \"maximumLeadsEnrichmentRecords\": 0,\r\n    \"reviewsSort\": \"highestRanking\",\r\n    \"scrapeContacts\": true,\r\n    \"scrapeDirectories\": false,\r\n    \"scrapeImageAuthors\": false,\r\n    \"scrapePlaceDetailPage\": true,\r\n    \"scrapeReviewsPersonalData\": true,\r\n    \"scrapeTableReservationProvider\": false,\r\n    \"searchStringsArray\": [\r\n        \"{{1.Industry}} companies in {{1.Location}}\"\r\n    ],\r\n    \"skipClosedPlaces\": true,\r\n    \"website\": \"withWebsite\"\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 167,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "memory": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "actorId": {
                            "mode": "chose",
                            "label": "Google Maps Scraper (compass/crawler-google-places)"
                        },
                        "runSync": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            },
                            "label": "Ken Apify connection (rasmus.kampmann@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "actorId",
                        "type": "select",
                        "label": "Actor",
                        "required": true
                    },
                    {
                        "name": "runSync",
                        "type": "boolean",
                        "label": "Run synchronously",
                        "required": true
                    },
                    {
                        "name": "inputBody",
                        "type": "text",
                        "label": "Input JSON"
                    },
                    {
                        "name": "build",
                        "type": "text",
                        "label": "Build"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout"
                    },
                    {
                        "name": "memory",
                        "type": "select",
                        "label": "Memory",
                        "validate": {
                            "enum": [
                                128,
                                256,
                                512,
                                1024,
                                2048,
                                4096,
                                8192,
                                16384,
                                32768
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5185399
            },
            "mapper": {
                "type": "clean",
                "limit": "100",
                "format": "json",
                "datasetId": "{{3.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 513,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            },
                            "label": "Ken Apify connection (rasmus.kampmann@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 781,
                    "y": -4
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "apify:runActor",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5185399
                            },
                            "filter": {
                                "name": "LinkedIn",
                                "conditions": []
                            },
                            "mapper": {
                                "actorId": "nFJndFXA5zjCTuudP",
                                "runSync": true,
                                "inputBody": "{\r\n    \"focusOnPaidAds\": true,\r\n    \"forceExactMatch\": false,\r\n    \"includeIcons\": false,\r\n    \"includeUnfilteredResults\": false,\r\n    \"maxPagesPerQuery\": 1,\r\n    \"mobileResults\": false,\r\n    \"queries\": \"{{5.title}} site:linkedin.com\",\r\n    \"resultsPerPage\": 1,\r\n    \"saveHtml\": false,\r\n    \"saveHtmlToKeyValueStore\": true\r\n}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1088,
                                    "y": -3
                                },
                                "restore": {
                                    "expect": {
                                        "memory": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "actorId": {
                                            "mode": "chose",
                                            "label": "Google Search Results Scraper (apify/google-search-scraper)"
                                        },
                                        "runSync": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "apify"
                                            },
                                            "label": "Ken Apify connection (rasmus.kampmann@hotmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:apify2,apify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "actorId",
                                        "type": "select",
                                        "label": "Actor",
                                        "required": true
                                    },
                                    {
                                        "name": "runSync",
                                        "type": "boolean",
                                        "label": "Run synchronously",
                                        "required": true
                                    },
                                    {
                                        "name": "inputBody",
                                        "type": "text",
                                        "label": "Input JSON"
                                    },
                                    {
                                        "name": "build",
                                        "type": "text",
                                        "label": "Build"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout"
                                    },
                                    {
                                        "name": "memory",
                                        "type": "select",
                                        "label": "Memory",
                                        "validate": {
                                            "enum": [
                                                128,
                                                256,
                                                512,
                                                1024,
                                                2048,
                                                4096,
                                                8192,
                                                16384,
                                                32768
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "apify:fetchDatasetItems",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5185399
                            },
                            "mapper": {
                                "type": "clean",
                                "limit": "100",
                                "format": "json",
                                "datasetId": "{{12.defaultDatasetId}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1436,
                                    "y": -4
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Clean"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "JSON"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "apify"
                                            },
                                            "label": "Ken Apify connection (rasmus.kampmann@hotmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:apify2,apify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "datasetId",
                                        "type": "text",
                                        "label": "Dataset ID",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Data transformation",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "clean",
                                                "simplified",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "csv",
                                                "html",
                                                "xml",
                                                "rss",
                                                "xlsx"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "validate": {
                                            "max": 100000,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "offset",
                                        "type": "uinteger",
                                        "label": "Offset",
                                        "validate": {
                                            "min": 0
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{13.organicResults}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1776,
                                    "y": -10
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "clay:createRecordInTable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "key": "C75fe186ea96fc1a8d42",
                                "url": "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-0e8e614e-a79d-4647-8d5d-fb0b4af80903",
                                "data": [
                                    {
                                        "row": "{{19.title}}",
                                        "column": "Company Name"
                                    },
                                    {
                                        "row": "{{5.website}}",
                                        "column": "Company Website"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2099,
                                    "y": -12
                                },
                                "restore": {
                                    "expect": {
                                        "data": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "Webhook URL",
                                        "required": true
                                    },
                                    {
                                        "name": "key",
                                        "type": "password",
                                        "label": "Authentication token"
                                    },
                                    {
                                        "name": "data",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "column",
                                                    "type": "text",
                                                    "label": "Column name"
                                                },
                                                {
                                                    "name": "row",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Row"
                                        },
                                        "type": "array",
                                        "label": "Data"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://api.perplexity.ai/chat/completions",
                                "data": "{\r\n  \"model\": \"sonar\",\r\n  \"messages\": [\r\n    {\r\n      \"role\": \"system\",\r\n      \"content\": \"You are one of the world’s top digital marketers and market researchers, known for delivering deep, real-time insights into global industry trends, emerging opportunities, and strategic risks for businesses of all sizes.\"\r\n    },\r\n    {\r\n      \"role\": \"user\",\r\n      \"content\": \"I want you to analyze the latest trends, risks, and opportunities in the {{1.Industry}} industry in {{1.Location}}, specifically for small to mid-sized companies. Focus on current momentum — what's creating real market movement right now (e.g., consumer behavior shifts, platform changes, competitor dynamics, new tech, etc.). Avoid generic or outdated insights. The findings will be used to craft cold outreach emails to decision-makers, so the insights must be highly relevant, insightful, and compelling enough to grab the attention of founders or executives. Your output should be only in plain-text language, no '[]' for reference, no '##' nor any format, just use plain-text.\"\r\n    }\r\n  ]\r\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer 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"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2439,
                                    "y": -8
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 32,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{21.data.choices}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2785,
                                    "y": -15
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8609207
                            },
                            "mapper": {
                                "from": "share",
                                "mode": "select",
                                "values": {
                                    "0": "{{5.title}}",
                                    "1": "{{5.website}}",
                                    "2": "{{1.Industry}}",
                                    "3": "{{19.url}}",
                                    "4": "{{5.address}}",
                                    "9": "{{32.message.content}}"
                                },
                                "sheetId": "Sheet1",
                                "spreadsheetId": "/1IiRSf6f05LbvBW1dszGS3YY8ZV77dgEp/1zS58IGvcob8ySre9ufdWi3971foec1h9rWezgrlZnXI",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3123,
                                    "y": -17
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "Shared with me"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Sira Logic Agency Management",
                                                "Lead Sourcing - English"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Company Name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Company Website (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Industry (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Company LinkedIn Profile (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Location or Address (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "DM Full Name (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "DM Job Title (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "DM Email Address (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "DM LinkedIn Profile (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Perplexity Summary (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (ronedward.cruz22@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Company Name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Company Website (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Industry (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Company LinkedIn Profile (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Location or Address (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "DM Full Name (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "DM Job Title (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "DM Email Address (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "DM LinkedIn Profile (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Perplexity Summary (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}